h1 {
  color: white;
  font-family: "Comfortaa", cursive;
  position: relative;
  bottom: 300%;
  left: 20%;
}

h2 {
  font-family: "Comfortaa", cursive;
  text-align: center;
  position: relative;
  bottom: 455%;
  left: 35%;
}

h3 {
  font-family: "Comfortaa", cursive;
  background: rgb(128, 85, 140);
  color: rgb(247, 246, 242);
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid rgb(128, 85, 140);
  border-radius: 5px;
}

h4 {
  font-family: "Comfortaa", cursive;
  position: relative;
  left: 50%;
  right: 5%;
  bottom: 15%;
}

.location-name {
  font-size: 40px;
}

#data {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: black;
  margin-top: 3%;
  margin-right: 55%;
  margin-left: 5%;
  border: 2px solid rgb(128, 85, 140);
  border-radius: 5px;
  padding-left: 5px;
}

.main-fahrenheit,
.main-celsius {
  font-size: 35px;
  position: relative;
  bottom: 40px;
  right: 20px;
}

#convert-fahrenheit {
  color: rgb(175, 122, 179);
  text-decoration: none;
}

#convert-celsius {
  color: black;
  text-decoration: none;
}

.current-location-bar {
  font-size: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 15px;
}

.search-bar {
  display: block;
  position: relative;
  bottom: 300%;
  left: 28%;
}

.sunny {
  font-size: 120px;
  color: rgb(228, 209, 146);
  position: relative;
  left: 10%;
  bottom: 10%;
}

#current-location {
  color: white;
  position: relative;
  font-size: 20px;
  bottom: 485%;
  left: 72%;
}

.location-temperature {
  font-size: 90px;
}

.high-low {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom: 25%;
  left: 52%;
}

.low-temp {
  color: rgb(130, 115, 151);
}

.specific {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 25%;
  left: 52%;
}

.row {
  font-family: "Comfortaa", cursive;
  position: relative;
  bottom: 15%;
  left: 5%;
}

.wed,
.thur,
.fri {
  text-align: center;
  font-size: 60px;
  color: rgb(203, 160, 174);
}

.sat,
.sun {
  text-align: center;
  font-size: 60px;
  color: rgb(175, 122, 179);
}
